        
            <div class="footer">
                <p>Copyright by A TO Z construction</p>
            </div>
        </div>
        <script src="javascript/index.js" type="text/javascript"></script>
    </body>
</html>