<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--Stylesheet-->
        <link rel="stylesheet" href="css/styles.css" type="text/css">

        <!--Font Awesome-->
        <script src="https://kit.fontawesome.com/14ab8b126d.js" crossorigin="anonymous"></script>

        <!--Google Fonts-->
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">

        <title>Document</title>
    </head>
    <body>
        <div class="container">
            <div class="navbar">
                <div class="brand">
                    <a id="brand" href="/dashboard">A TO Z Construction</a>
                </div>
                <div class="routes">
                    <a href="/users">Users</a>
                    <a href="/logout">Logout</a>
                </div>
            </div>
    
       

  